# Hypothesis and computational methods

In [55]:
from statsmodels.stats.proportion import proportions_ztest

In [56]:
# importing the necesary libraries
import pandas as pd
import numpy as np
from statsmodels.stats.proportion import proportions_ztest

In [57]:
#sample size
n=1018
pnull= 0.52
pobserved= 0.56

proportions_ztest(pobserved*n, n, pnull)

(2.571067795759113, 0.010138547731721065)

In [10]:
data = [1000,1500, 2300, 3540, 4120, 4560, 5490, 3460, 4750, 2300, 9000, 8800, 7100]

df1 = pd.DataFrame(data)
df1

       0
0   1000
1   1500
2   2300
3   3540
4   4120
5   4560
6   5490
7   3460
8   4750
9   2300
10  9000
11  8800
12  7100

In [11]:
import scipy.stats as stats

#perform sample t-test
t_statistic, p_value = stats.ttest_1samp(a=data, popmean=5000)
print(t_statistic, p_value)

-0.7624323876345264 0.46052656446381235

# Two sample t-test

In [12]:
data_group1 = np.array([14, 15, 15, 16, 13, 8, 14, 17, 16, 14, 19, 20, 21, 15,15, 16, 16, 13, 14, 12])

data_group2 = np.array([15, 17, 14, 17, 14, 8, 12,19, 19, 14, 17, 22, 24, 16,13, 16, 13, 18, 15, 13])

print (np.var(data_group1), np.var(data_group2))

7.727500000000001 12.260000000000002

In [13]:
# perfoming two sample t-test
stats.ttest_ind(a=data_group1, b= data_group2, equal_var=True)

Ttest_indResult(statistic=-0.6337397070250238, pvalue=0.5300471010405257)

# Paired T-test

In [14]:
df=pd.read_csv("E:\Sankhyana Training/blood_pressure.csv")
df.head()

   patient   sex agegrp  bp_before  bp_after
0        1  Male  30-45        143       153
1        2  Male  30-45        163       170
2        3  Male  30-45        153       168
3        4  Male  30-45        153       142
4        5  Male  30-45        146       141

In [15]:
# extratcting two columns and describing the summary sttaistics
df[['bp_before','bp_after' ]].describe()

#perfoming the pared t-test

ttest, pval =stats.ttest_rel(df['bp_before'], df['bp_after'])

print(pval)

if pval<0.05:
    print('reject null hypothesis')
else:
    print('accept null hypothesis')

0.0011297914644840823
reject null hypothesis

# One-way Anova

In [31]:
import pandas as pd
df_anova=pd.read_csv("E:\PlantGrowth.csv")

df_anova.head()

   Unnamed: 0  weight group
0           1    4.17  ctrl
1           2    5.58  ctrl
2           3    5.18  ctrl
3           4    6.11  ctrl
4           5    4.50  ctrl

In [37]:
df_anova.shape

(30, 2)

In [40]:
## df_anova.drop('', axis =1)

In [48]:
df_anova = df_anova[['weight','group']]
group_ = pd.unique(df_anova.group.values)
d_data = {grp:df_anova['weight'][df_anova.group == grp] for grp in group_}
 
F, p = stats.f_oneway(d_data['ctrl'], d_data['trt1'], d_data['trt2'])
print(p)

if p< 0.05:
    print('reject the null hypothesis')
else:
    print('accept the null hypothesis')

0.0159099583256229
reject the null hypothesis

# Pearson Correlation

In [50]:
from scipy.stats import pearsonr

In [49]:
df_pearson= pd.read_csv('E:\Sankhyana Training/Auto.csv')
df_pearson.head()

    mpg  weight
0  18.0    3504
1  15.0    3693
2  18.0    3436
3  16.0    3433
4  17.0    3449

In [52]:
list = df_pearson['weight']
list1 = df_pearson ['mpg']

corr = pearsonr(list, list1)
print(corr)

PearsonRResult(statistic=-0.8782814536196801, pvalue=1.6939576703816368e-97)