# Hypothesis and computational methods

In [1]:
# importing the necesary libraries
import pandas as pd
import numpy as np
from statsmodels.stats.proportion import proportions_ztest

In [2]:
#sample size
n=1018
pnull= 0.52
pobserved= 0.56

proportions_ztest(pobserved*n, n, pnull)

(2.571067795759113, 0.010138547731721065)

In [3]:
data = [1000,1500, 2300, 3540, 4120, 4560, 5490, 3460, 4750, 2300, 9000, 8800, 7100]

df1 = pd.DataFrame(data)
df1

       0
0   1000
1   1500
2   2300
3   3540
4   4120
5   4560
6   5490
7   3460
8   4750
9   2300
10  9000
11  8800
12  7100

In [4]:
import scipy.stats as stats

#perform sample t-test
t_statistic, p_value = stats.ttest_1samp(a=data, popmean=5000)
print(t_statistic, p_value)

-0.7624323876345264 0.46052656446381235

# Two sample t-test

In [5]:
data_group1 = np.array([14, 15, 15, 16, 13, 8, 14, 17, 16, 14, 19, 20, 21, 15,15, 16, 16, 13, 14, 12])

data_group2 = np.array([15, 17, 14, 17, 14, 8, 12,19, 19, 14, 17, 22, 24, 16,13, 16, 13, 18, 15, 13])

print (np.var(data_group1), np.var(data_group2))

7.727500000000001 12.260000000000002

In [6]:
# perfoming two sample t-test
stats.ttest_ind(a=data_group1, b= data_group2, equal_var=True)

TtestResult(statistic=-0.6337397070250238, pvalue=0.5300471010405257, df=38.0)

# Paired T-test

In [7]:
df=pd.read_csv("E:\Sankhyana Training/blood_pressure.csv")
df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'E:\\Sankhyana Training/blood_pressure.csv'

In [28]:
# extratcting two columns and describing the summary sttaistics
df[['bp_before','bp_after' ]].describe()

#perfoming the pared t-test

ttest, pval =stats.ttest_rel(df['bp_before'], df['bp_after'])

print(pval)

if pval<0.05:
    print('reject null hypothesis')
else:
    print('accept null hypothesis')

0.0011297914644840823
reject null hypothesis

# One-way Anova

In [29]:
import pandas as pd
df_anova=pd.read_csv("E:\PlantGrowth.csv")

df_anova.head()

   Unnamed: 0  weight group
0           1    4.17  ctrl
1           2    5.58  ctrl
2           3    5.18  ctrl
3           4    6.11  ctrl
4           5    4.50  ctrl

In [30]:
df_anova.shape

(30, 3)

In [31]:
## df_anova.drop('', axis =1)

In [32]:
df_anova = df_anova[['weight','group']]
group_ = pd.unique(df_anova.group.values)
d_data = {grp:df_anova['weight'][df_anova.group == grp] for grp in group_}
 
F, p = stats.f_oneway(d_data['ctrl'], d_data['trt1'], d_data['trt2'])
print(p)

if p< 0.05:
    print('reject the null hypothesis')
else:
    print('accept the null hypothesis')

0.0159099583256229
reject the null hypothesis

# Pearson Correlation

In [33]:
from scipy.stats import pearsonr

In [34]:
df_pearson= pd.read_csv('E:\Sankhyana Training/Auto.csv')
df_pearson.head()

    mpg  weight
0  18.0    3504
1  15.0    3693
2  18.0    3436
3  16.0    3433
4  17.0    3449

In [35]:
list = df_pearson['weight']
list1 = df_pearson ['mpg']

corr = pearsonr(list, list1)
print(corr)

PearsonRResult(statistic=-0.8782814536196801, pvalue=1.6939576703816368e-97)

# Two-way anova test

In [53]:
# 1 Importing libraries
from statsmodels.stats.anova import anova_lm
from statsmodels.formula.api import ols # Fitiing 
import pandas as pd

# 2 Create a dataframe
dataframe = pd.DataFrame({'Manures': np.repeat(['daily', 'weekly'], 15),
                         'Watering': np.repeat(['daily', 'weekly'], 15),
                         'height': [14, 16, 15, 15, 16, 13, 12, 11,
                                    14, 15, 16, 16, 17, 18, 14, 13,
                                    14, 14, 14, 15, 16, 16, 17, 18,
                                    14, 13, 14, 14, 14, 15]}) # height of 30 plants


# 3 Performing two-way ANOVA
model = ols('height ~ C(Manures) + C(Watering)+\
C(Manures):C(Watering)', data=dataframe).fit() # Fitting an OLS Model

result = anova_lm(model, type=2)

# Print the result
result

                          df     sum_sq   mean_sq         F    PR(>F)
C(Manures)               1.0   0.033333  0.033333  0.012069  0.913305
C(Watering)              1.0   1.989041  1.989041  0.720170  0.403285
C(Manures):C(Watering)   1.0   0.098425  0.098425  0.035637  0.851630
Residual                28.0  77.333333  2.761905       NaN       NaN

In [52]:
dataframe.head(30)

   Manures Watering  height
0    daily    daily      14
1    daily    daily      16
2    daily    daily      15
3    daily    daily      15
4    daily    daily      16
5    daily    daily      13
6    daily    daily      12
7    daily    daily      11
8    daily    daily      14
9    daily    daily      15
10   daily    daily      16
11   daily    daily      16
12   daily    daily      17
13   daily    daily      18
14   daily    daily      14
15  weekly   weekly      13
16  weekly   weekly      14
17  weekly   weekly      14
18  weekly   weekly      14
19  weekly   weekly      15
20  weekly   weekly      16
21  weekly   weekly      16
22  weekly   weekly      17
23  weekly   weekly      18
24  weekly   weekly      14
25  weekly   weekly      13
26  weekly   weekly      14
27  weekly   weekly      14
28  weekly   weekly      14
29  weekly   weekly      15

In [56]:
from scipy.stats import chi2_contingency

data = np.array([[10, 20],
                 [20, 30]])

chi2, p, dof, expected = chi2_contingency(data)

print(f"Chi-square statistic: {chi2}")
print(f"P-value: {p}")
print(f"Degrees of freedom: {dof}")

print("Expected frequencies:")
print(expected)

Chi-square statistic: 0.128
P-value: 0.7205147871362552
Degrees of freedom: 1
Expected frequencies:
[[11.25 18.75]
 [18.75 31.25]]