#### Creating Database and tables

In [46]:
#Importing myql.connector module
import mysql.connector

In [47]:
#establishing connection to mysql workbench
database=mysql.connector.connect(
    user="root", 
    password="Ezekiel@23", 
    host="localhost", 
    database="Student")

In [48]:
# creating a cursor object that is used to execute sql querries
mycursor=database.cursor()

In [51]:
#create a database students
mycursor.execute("create database students1")

In [53]:
#create a table scores
mycursor.execute("create table scores2(name varchar(50), marks smallint UNSIGNED , personid int Primary key auto_increment)")

In [54]:
#return the details about the table columns
mycursor.execute("Describe scores2")

In [55]:
#iterate over the cursor object mycursor to fetch and print each row of the query results.
for i in mycursor:
    print(i)

('name', 'varchar(50)', 'YES', '', None, '')
('marks', 'smallint unsigned', 'YES', '', None, '')
('personid', 'int', 'NO', 'PRI', None, 'auto_increment')

In [57]:
#The SQL statement specifies placeholders %s for the name and age columns.
mycursor.execute("insert into scores2 (name,marks) values(%s,%s)", ("Joy", 30))

In [58]:
#save all changes made during the current transaction to the database
database.commit()

In [59]:
#retrieve all rows and columns from the "Classes" table
mycursor.execute("select * from scores2")

In [60]:
# iterate over the cursor object mycursor to fetch and print the records
for i in mycursor:
    print(i)

('Joy', 30, 1)

##### Retriving database and tables

In [61]:
connection=mysql.connector.connect(user="root", 
    password="Ezekiel@23", 
    host="localhost", 
    database="Student")

In [62]:
#returns rows as dictionaries, allowing access to data by column name instead of index using a cursor is a method will give you a cursor to work with the cod
mydb=connection.cursor(dictionary=True)

In [63]:
#execute any code you will use execute method
mydb.execute("show databases")    # if you want to execute any code you will use execute method.

In [64]:
# iterate over the cursor object mydb to fetch and print each database name obtained from the executed SQL query.
for i in mydb:
    print(i)

{'Database': 'information_schema'}
{'Database': 'mysql'}
{'Database': 'parliament'}
{'Database': 'performance_schema'}
{'Database': 'sankhyananisha'}
{'Database': 'sankhyananisha2'}
{'Database': 'sankyana'}
{'Database': 'school'}
{'Database': 'student'}
{'Database': 'student1'}
{'Database': 'student2'}
{'Database': 'students'}
{'Database': 'students1'}
{'Database': 'sys'}

In [65]:
#excute the query fetching the results for further processing
query="select * from scores2"
mydb.execute(query)

In [66]:
for i in mydb:
    print(i)

{'name': 'Joy', 'marks': 30, 'personid': 1}