
# 2.2 Data Structures

# Primitive Data Structures
It includes data types int, float, str, bool.

In [ ]:
y=2
z=2.5
c="data structures"
x=True
print(type(y))
print(type(z))
print(type(c))
print(type(x))

# Non-Primitive Data Structures
List, tuple, set, dict which are also inbuilt.

# List
list operation and indexing..  
   Written as a list of comma-separated elements enclosed within square brackets..  
  Mutable = elements can be changed..   
  A List can consist of both heterogeneous and homogeneous elements..

In [ ]:
# We can create empty list object as follows...
list1=[]
print(list1)
print(type(list1))

In [ ]:
list1=["p","r","o","b","e"]
print(len(list1))

In [ ]:
print(list1[0])   #indexing
print(list1[1])
print(list1[2])
print(list1[3])
print(list1[4])

In [ ]:
print(list1[-1])
print(list1[-2])
print(list1[-3])
print(list1[-4])
print(list1[-5])

In [ ]:
# with list() functions
s="durga"
l=list(s)
print(l)

In [ ]:
# with split() function:
s="Learning Python is very very easy !!!"
l=s.split()
print(l)
print(type(l))

Sometimes we can take list inside anotherlist,such type of lists are called nested lists.        
[10,20,[30,40]]

In [ ]:
l= [10,20,[30,40],]
print(l[0])
print(l[1])
print(l[2])

In [ ]:
a= ["my", "name",  "is",  "nishar"]
print(a[0])
print(a[1])
print(a[2])
print(a[3])

In [ ]:
print(a[-1])
print(a[-2])
print(a[-3])
print(a[-4])

In [ ]:
list1=["p","r","o","b","e"]
list1[1:4:1]   # Slicing---> start:stop:step

In [ ]:
list= [1,2,3,4,5,6,7,8,9,10]
list[1:6:2]

In [ ]:
list2=[1,2,3,4,5,6]
list3=[3,4,5,6,7,8]

list2+list3

In [ ]:
list4=["Hi"]
list4*5

In [ ]:
list4=[1,2,3]
print(list4*5)

In [ ]:
list5=[1,2,3,4,5,6]
print(list5)

In [ ]:
8 in list5

In [ ]:
for i in list5:
    print(i)

Adding elements to the list   
append(),insert(), extend()

append--->We can use append() function to add item at the end of the list.

In [ ]:
list=[1,2]
list.append(3)
list.append(4)
print(list)
list

In [ ]:
list6=[1,2,"a","b",5.0]
print(list6)

In [ ]:
#Updating the elements
list6[3]=12345
print(list6)

insert---->To insert item at specified index position

In [ ]:
list6.insert(2,100)          
print(list6)

extend--->To add all items of one list to another list

In [ ]:
list7=[1,2,3,4,5]
list8=[6,7,8,9,10]
list8.extend(list7)
print(list8)

In [ ]:
list8.extend(list7)
list8

Remove the elements from list
We can use this function to remove specified item from the list.

pop(), remove(), del, clear()

In [ ]:
list9=[1,2,3,4,5,6,7,8]
print(list9)

Removing the elements with pop()-->It removes and returns the last element of the list.                
removes elements based on index no.

In [ ]:
list9.pop()
print(list9)

In [ ]:
list9.pop(4)

In [ ]:
print(list9)

Removing the elements from list with remove function    
removes elements present in the list

In [ ]:
list9.remove(2)
print(list9)

In [ ]:
del list9[1]
print(list9)

In [ ]:
list9.clear()
print(list9)

In [ ]:
list10=[1,2,3,4,5,6]
print(list10)

sorting and reversing a list

In [ ]:
list11=[1,8,3,5,7,3,8,7,5,4,7,5]
print(list11)

In [ ]:
#If i want to sort the elements of list according to default natural sorting order then we should go for sort() method.
list11.sort()
print(list11)

In [ ]:
list11.sort(reverse= True)   #We can use to reverse() order of elements of list.
print(list11)

In [ ]:
list12=[1,8,3,5,7,3,8,7,5,4,7,5]
print(list12)

In [ ]:
#counting the duplicate values
list12.count(7)

# Tuple
Tuples are declared within paranthesis and are immutable..   
Once tuple is defined it it cannot be deleted or edited..

In [ ]:
tup=()  # empty typle
print(tup)

In [ ]:
tup=(0)
print(tup)

In [ ]:
tup=(0,)
print(tup)

In [ ]:
tup=(1,2,3,4,5)
print(tup)

In [ ]:
tup=1,2,3,4,5  # some tuples paranthesis can be optional
print(tup)

In [ ]:
tup=(34,("A","B"))   #Nested Tuples
print(tup)

In [ ]:
tup[1]  #we can access elements of tuple using index

In [ ]:
tup[1][1]

In [ ]:
tup=(1,2,3,4,5,6,7,8,9,0)
print(tup)
print(len(tup))

In [ ]:
print(tup[0:7]) #start:stop

In [ ]:
tup[0:7:2]   #start:stop:step

In [ ]:
tup_list=(1,2,3,4,5,[6,7,8])
print(tup_list)

In [ ]:
tup_list.index([6,7,8])

In [ ]:
tup_list[5].append(10)
print(tup_list)                      #Tuple is immutable but tuple elements are mutable

In [ ]:
t1=(10,20,30)
t2=(40,50,60)
t3=t1+t2            # using concatenation operator
t3

In [ ]:
t1=(10,20,30)
t2=t1*3
t2

In [ ]:
print(t2.count(20))

In [ ]:
t=sorted(t2)
print(t)
print(min(t))    # These functions return min and max values according to default natural sorting order. 
print(max(t))

# Set
If we want to represent a group of unique values as a single entity then we should go for set.      
Insertion order is not preserved.But we can sort the elements.      
Indexing and slicing not allowed for the set.        
Heterogeneous elements are allowed.     
Set elements are represented within curly braces {} and with comma seperation.

In [ ]:
s={1}
print(type(s))

In [ ]:
s={1,2,3,4}
print(s)

In [ ]:
s=set(range(5))
print(s)

In [ ]:
#Adding and deleteing the elements with set
s.add(100)
print (s)

In [ ]:
s.discard(100)
s

In [ ]:
set1={1,2,5,4,3,6,7}
set2={5,6,7,8,9,0}
print(set1)
print(set2)

In [ ]:
set1.union(set2)  # >We can use this function to return all elements present in both sets

In [ ]:
set1|set2

In [ ]:
set1.intersection(set2) #Returns common elements present in both sets

In [ ]:
set1&set2

In [ ]:
set1.difference(set2)   #returns the elements present in set1 but not in set2

In [ ]:
set1-set2

In [ ]:
set2.difference(set1)    # returns the elements present in set2 but not in set1

In [ ]:
set2-set1

In [ ]:
set2.symmetric_difference(set1)  #Returns elements present in either set1 or set2 but not in both

In [ ]:
set2^set1

# Dictionary
We can use List, Tuple and Set to represent a group of individual objects as a single entity, we can go for dict.      
Dictionaries consist of key-value pairs. The ‘key’ identifies an item, and the ‘value’ stores the value of the item.      
Colon separates the key from its value.The items are separated by commas,with the entire thing enclosed within curly brackets.

In [ ]:
d={}  
print(type(d))  
e=dict()
print (e)

In [ ]:
d={1:"first",2:"second"} #d={key:value, key:value}
print(d)

In [ ]:
d={"First":[1,2,3,4,5],"Second":(4,5,6,7,8)}
print(d)

In [ ]:
d={"First":[1,2,2,2,3,3,3,4,4],"First":[1,3,3,4,4,4,5,5,7]}
d

In [ ]:
d={"First":[1,2,2,2,3,3,3,4,4],"First":[1,3,3,4,4,4,5,5,7],"First":[6,7,8,95,43,8,0,34,]}
d

In [ ]:
d={"First":[1,2,3,4],"Second":[1,2,3,4],"Third":[1,2,3,4]}
d

In [ ]:
d["First"]

In [ ]:
d["First"]=[5,6,7,8,9,10]    # if i want to change my first
d

In [ ]:
del d["First"]
d

In [ ]:
d.keys()

In [ ]:
d.values()

In [ ]:
d.items()

# Deep copy and shallow copy
#Shallow copy-->any changes made to a copy of object do reflect in the original object.

In [ ]:
list1=[1,2,3,4]   
list2=list1

In [ ]:
print(list1)
print(list2)

In [ ]:
list2[2]=1000
print(list2)

In [ ]:
print(list1)

#Deep copy --> Any changes made to a copy of object do not reflect in the original object.
In python, this is implemented using “deepcopy()” function.
In order to use these copies we need copy module.

In [ ]:
import copy
list2=copy.deepcopy(list1)    #Deep copy
print(list2)

In [ ]:
print(list1)

In [ ]:
list2[1]=123456
print(list2)

In [ ]:
print(list1)

# List Comprehension
List compression is a feature, which one can use within a single line of code to construct powerful functionality.     
List comprehensions are used for creating new lists from other iterables like tuples, strings, arrays, lists, etc.      
A list comprehension consists of brackets containing the expression, which is executed for each element along with the for loop to iterate over each element.

In [ ]:
list2=[1,2,3,4,5]
print(list2)

In [ ]:
#Expecting the values
#list3=[2,4,6,8,10]

In [ ]:
list3=[]
for i in list2:
    val=i*2
    list3.append(val)
print(list3)

In [ ]:
list3=[x*2 for x in list2]
print(list3)

In [ ]:
#Flattening the list of list
y=[[2,2,3],[4,5,6],[6,7,8,9],[1,6,9,3]]   #Nested List

In [ ]:
print(y)    #expected output: [2,2,3,4,5,6,6,7,8,9,1,6,9,3]

In [ ]:
vals1=[10,20,30,40,50]
vals2=[5,6,7,8,9]
two_fors=[x*y for x in vals1 for y in vals2]
print(two_fors)